/* Sistema Geral de Navegação Global*/

nav{
    background-color:black;
    padding: 20px;
}

a:link {
    color:rgb(255, 0, 140);
    background-color: transparent;
    text-decoration: none;
    padding: 10px;
  }

  a:visited{
    color:rgb(255, 0, 140);
    background-color: transparent;
    text-decoration: none;
    padding: 10px;
  }
  
  
  a:hover {
    color: rgb(255, 0, 140);
    background-color: white;
    text-decoration: underline;
  }


div{
    background-color:rgb(245, 243, 243);
    padding-top: 20px;
    padding-bottom: 200px;
}

.text {
    text-align: center;
}

/*Calculadora 1*/
.result{
    background-color: pink;
    color: black;
    text-align: center;
    width: 335px;
    margin: 5px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5%;
}

.number {
    background-color: pink;
    color: black;
    text-align: center;
     width: 70px; 
    margin: 5px;
    font-size: 20px;
    padding: 30px;    
    border-radius: 5%;
}

/*calculadora 2*/
table {
    font-size: 30px;
    margin: auto;
}
th{
    margin: 15px;
    padding: 30px;
    background-color: pink;
    border-radius: 5%;
}